<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>chapterNumber</key>
		<integer>3</integer>
		<key>sectionName</key>
		<string>Intro to Storyboards</string>
		<key>partName</key>
		<string>Object Library</string>
		<key>content</key>
		<string>On the bottom right, you’ll find the Object Library. That’s the 3rd tab. The Object Library has all the UI components that you can use for your layout. It’s like Insert in Sketch.</string>
		<key>hasImage</key>
		<false/>
	</dict>
	<dict>
		<key>chapterNumber</key>
		<integer>1</integer>
		<key>sectionName</key>
		<string>Learn iOS 11 Design</string>
		<key>partName</key>
		<string>Large Titles</string>
		<key>content</key>
		<string>More than ever, iOS 11 is going back to its roots. Bold fonts are everywhere. Titles are big and black. Since screens are now about twice as tall as they were, it only makes sense to have large titles. Another reason for large fonts is accessibility. With billions of people using their phone daily from all age groups, it is important to make the content as clear and readable as possible. Accessibility lets users set very large fonts for apps that support it. In iOS 11, all of Apple’s stock apps support that option.  Because of that reason, you’ll find that users are now expecting it.</string>
		<key>hasImage</key>
		<true/>
	</dict>
	<dict>
		<key>chapterNumber</key>
		<integer>2</integer>
		<key>sectionName</key>
		<string>Design for iOS 11</string>
		<key>partName</key>
		<string>Layout Margin</string>
		<key>content</key>
		<string>In this Home screen, we use a layout margin of 16px from the left and the right. Like this we ensure that the user interface stay focus in the middle of the screen and doen&apos;t look cramped against the edge.</string>
		<key>hasImage</key>
		<false/>
	</dict>
	<dict>
		<key>chapterNumber</key>
		<integer>2</integer>
		<key>sectionName</key>
		<string>Status bar</string>
		<key>partName</key>
		<string>Setting Up the Basics</string>
		<key>content</key>
		<string>We need a Status Bar for the top of the screen. You can find the Status Bar in the Insert menu at the Toolbar. If you&apos;ve installed Sketch Runner, you can search it easily. Go to Plugins &gt; Runner &gt; Run… or press Command + &apos; (apostrophe) to activate Sketch Runner. Select the Insert tab and type keyword &quot;status bar black&quot; and double-click the Symbol and then, place it in the Artboard.</string>
		<key>hasImage</key>
		<false/>
	</dict>
	<dict>
		<key>chapterNumber</key>
		<integer>2</integer>
		<key>sectionName</key>
		<string>Design for iOS 11</string>
		<key>partName</key>
		<string>Design+Code Home Screen</string>
		<key>content</key>
		<string>We will be designing the new Design+Code Home screen in this tutorial. It contains a hero image, headline, introduction, call-to-action button, chapter and people section.</string>
		<key>hasImage</key>
		<true/>
	</dict>
</array>
</plist>
